//VARIABLES//
$principal-blue: #08A6E4;
$principal-white: #FFF;
$secundary-white: #F7F7F7;
$principal-black: #000;
$principal-red: #FB3B64;
$principal-green: #55DFB4;
$principal-gray: #A5A5A5;
$principal-font: Raleway, sans-serif;
$secundary-font: "Open Sans", sans-serif;

//MIXINGS//
@mixin main-button($background: $principal-blue) {
    background-color: $background;
    font-family: $secundary-font;
    font-size: 16;
    font-weight: 700;
    color: $principal-white;
    padding: 20px 50px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.30);
}

@mixin main-button-hover() {
    @include main-button();
    transform: scale(2.0);
}

@mixin main-circle($background: $principal-blue) {
    display: inline-block;
    background-color: $background;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

@mixin pricing-sections ($border-color: $principal-blue, $color: $principal-blue, $button-color: $principal-blue) {
    display: inline-block;
    border: solid $border-color 1px;
    border-radius: 18px;
    width: 80%;
    margin-bottom: 60px;

    .pricing-section-left {
        display: inline-block;
        position: relative;
        top: -50px;
        text-align: center;
        width: 45%;
    }

    .pricing-section-right {
        display: inline-block;
        text-align: left;
        width: 50%;
    }

    h3 {
        font-family: $principal-font;
        font-size: 20px;
        font-weight: 700;
    }

    p {
        font-family: $secundary-font;
        font-size: 46px;
        font-weight: 300;
        color: $color;
    }

    span {
        font-family: $principal-font;
        font-size: 12px;
        font-weight: 700;
    }

    img {
        margin-right:15px;
    }

    li {
        list-style: none;
        font-family: $secundary-font;
        font-size: 15px;
        font-weight: 400;
        margin-top: 25px;
    }

    button {
       @include main-button($button-color);
       position: relative;
       top: 30px;
    }

    button:hover {
        transform: scale(1.1);
    }
}

//FORMATING DISPLAY//
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body {
    min-width: 320px;
    }


//NAV-MENU//

nav {
    position: sticky;
    top: 0;
    z-index: 50;
}

.menu {
    background-color: $principal-white;
    text-align:left;
    min-height: 70px;
    width: 100%;
    padding: 5px 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.30);

    img {
        cursor: pointer;
        width: 40px;
    }
}

.menu-logo {
    display: inline-block;
    width: 82%;
    text-align: start;
    padding: 2% 0 2% 5%;

    a {
        text-decoration: none;
    }
    
    h1 {
        color: $principal-blue;
        font-family: $principal-font;
        font-weight: 300;
        font-size: 32px;
    }
}

.menu-mobile {
    display: flex;
    align-items: center;
    background-color: $principal-white;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.30);

    ul {
        margin-left: 5%;
        padding-bottom: 10x;
    }

    li {
        list-style: none;
        padding: 5px 0;

        
    }
    a {
        font-family: $secundary-font;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 3px;
        color: $principal-gray;
        text-decoration: none;
    }

    li:hover {
        
        a {
            font-size: 12px;
            color: $principal-black;
        }
    }
}

#check-menu {
    display: none;
}

#check-menu:checked ~ .menu-mobile {
    visibility: visible;
    opacity: 1;
    position: fixed;
    height: 150px;
}

#check-menu:checked ~ label > img {
    box-sizing: border-box;
    padding-left: 40px;
    width: 40px;
    height: 35px;
    background-image: url("../images/menucross.svg");
    background-size: cover;
    background-repeat: no-repeat;

}

.main-header {
    background-image: url("../images/Background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    height: calc(100vh - 90px);

    h2 {
        font-family: $principal-font;
        font-size: 35px;
        font-weight: 400;
        color: $principal-black;
        padding-top: 12vh;
    }

    p {
        font-family: $secundary-font;
        font-size: 16px;
        color: $principal-black;
        line-height: 23px;
        padding: 8vh 15%;
    }

    button {
        @include main-button();
    }

    button:hover {
        transform: scale(1.1);
    }
}

//FIRST SECTION//
.first-section {
    margin-top: 60px;
    text-align: center;

    h2 {
        font-family: $principal-font;
        font-size: 30px;
        font-weight: 300;
        color: $principal-black;
        margin: 0 10%;
    }
}

.firsts-entries {
    margin: 50px 0 20px;

    .red-circle {
        @include main-circle($principal-red);
    }

    .blue-circle {
        @include main-circle();
    }

    .green-circle {
        @include main-circle($principal-green);
    }

    img{
        margin-top: 5px;
        margin-left: 40px;
    }

    .eye-icon {
        margin-top: 15px;
        margin-left: 30px;
    }

    p {
        font-family: $principal-font;
        font-size: 20px;
        font-weight: 800;
        margin: 15px 0 20px;
    }

    span {
        font-family: $principal-font;
        font-size: 16px;
        font-weight: 400;
        color: $principal-gray;
    }
}

//SECOND SECTION//
.second-section {
    background-color: $secundary-white;
    margin-top: 60px;   
    text-align: center;
    padding: 5vh 0;
}

.second-entries {
    background-color: $principal-white; 
    margin: 5vh 5% 5vh;
    padding: 5vh 10% 10vh;

    h3 {
        font-family: $principal-font;
        font-size: 30px;
        font-weight: 400;
        margin-top: 20px;
        text-align: left;
    }

    p {
        font-family: $secundary-font;
        font-size: 14px;
        font-weight: 400;
        margin-top: 40px;
        text-align: left;
    }
}

.laptop-red-circle {
    position: relative;
}

.red-second-circle{
    position: absolute;
    top: -30px;
    left: 55%;
    background-color: $principal-red;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.img-laptop{
    position: relative;
    z-index: 1;
}

.mobile-second-circle {
    position: relative;
}

.blue-second-circle{
    display: inline-block;
    background-color: $principal-blue;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.img-mobile {
    position: absolute;
    left: 25%;
}

.trumpet-green-rectangle {
    margin: 0 5%;
}

.green-rectangle {
    background-color: $principal-green;
    height: 200px;
    padding-top: 20px;
    margin-top: -5vh;

}

//THIRD SECTION//
.third-section {
    text-align: center;
    margin-top: 60px;

    h2 {
        font-family: $principal-font;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

.first-pricing-section {
    @include pricing-sections($principal-red, $principal-red, $principal-red);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.first-pricing-section:hover {
    transform: scale(1.1);
}

.second-pricing-section {
    @include pricing-sections();
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.second-pricing-section:hover {
    transform: scale(1.1);
}

.third-pricing-section {
    @include pricing-sections($principal-green, $principal-green, $principal-green);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.third-pricing-section:hover {
    transform: scale(1.1);
}

//FORM//
.form-section {
    margin: 0 10%;
}

.form-section-first {
    margin-top: 60px;

    h2 {
        font-family: $principal-font;
        font-size: 40px;
        font-weight: 400;
    }

    p {
        font-family: $secundary-font;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    img {
        position: relative;
        top: 6px;
        margin-right: 10px;
    }

    li{
        font-family: $secundary-font;
        font-size: 16px;
        font-weight: 600;
        color: $principal-gray;
        list-style: none;
    }
}

.form-section-second {
    margin-top: 60px;

    li {
        list-style: none;
        margin: 5px 0;
        border-bottom: 1px solid $principal-gray;
    }

    label {
        display: block;
        font-family: $secundary-font;
        font-size: 11px;
        font-weight: 600;
        color: $principal-blue;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    input {
        display: inline-block;
        border-style: none;
        border-bottom: $principal-blue;
        width: 100%;
    }
}

.terms-form {
    margin-top: 20px;

    input[type=checkbox] {
        transform: scale(2);
        vertical-align: top;
        margin-top: 10px;
        margin-right: 20px;
        width: 5%;
    }

    label {
        display: inline-block;
        color: $principal-gray;
        width: 85%;
        margin: 0;
    }
}

.button-form {
    text-align: center;
    margin-top: 20px;

    button {
        @include main-button();
        width: 50%;
    }

    button:hover {
        transform: scale(1.1);
    }
}

footer {
    margin-top: 60px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.30);
}

.footer-text {
    display: inline-block;
    width: 50%;
    margin: 5% 0 5% 5%;

    h2 {
        font-family: $principal-font;
        font-size: 26px;
        font-weight: 300;
        color: $principal-blue;
    }

    p {
        font-family: $secundary-font;
        font-size: 11px;
        font-weight: 400px;
        color: $principal-gray;
    }
}

.social-networks {
    display: inline-block;
    width: 40%;
    text-align: end;

    li {
        display: inline;
        list-style: none;
        margin-left: 20px;
    }
}

//MEDIA QUERY//
@media only screen and (min-width: 1000px) {

    //NAV-MENU//
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;

        img {
            display: none;
        }
    }

    .menu-logo {
        width: auto;
        padding: 0;
        margin: 0;
    }

    .menu-mobile {
        visibility: visible;
        position: static;
        width: auto;
        height: auto;
        opacity: 1;
        box-shadow: none;

        ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            height: 70px;
            padding: 0 50px;
        }

        li:hover {
            border-bottom: 5px solid $principal-blue;
        }
    }

    //HEADER//
    .main-header {
        height: 105vh;

        h2 {
            font-size: 49px;
            padding-top: 10vh;
        }

        p {
            padding: 5vh 0;
        }
    }

    //FIRST SECTION//
    .first-section {

        h2{
            font-size: 36px;
            font-weight: 400;
        }
    }

    .first-section-wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        margin: 50px 20% 0;
    }


    //SECOND SECTION//
    .second-entries {
        margin: 5vh 10% 5vh;
        padding: 5vh 5% 10vh;
    }

    .row-wrap-reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .description-second-entries {
        width: 50%;

        h3{
            font-size: 36px;
        }

        p {
            font-size: 16px;
        }
    }

    .laptop-red-circle{
        margin-top: 50px;
    }

    .red-second-circle{
        left: 60%;
        border-radius: 25%;
        rotate: 45deg;
        width: 150px;
        height: 150px;
    }

    .img-laptop {
        display: block;
        box-sizing: border-box;
        padding-left: 387px;
        width: 387px;
        height: 219px;
        background-image: url("../images/Macbook2\ 1.png");
        background-size: auto;
        background-repeat: no-repeat;
    }

    .border-bottom-red {
        border-bottom: 2px solid $principal-red;
        padding-bottom: 40px;
    }

    .row-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .blue-second-circle {
        width: 300px;
        height: 300px;
    }
    .img-mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding-left: 426px;
        width: 426px;
        height: 328px;
        background-image: url("../images/iPhone2\ 1.png");
        background-size: auto;
        background-repeat: no-repeat;

    }

    .border-bottom-blue {
        border-bottom: 2px solid $principal-blue;
        padding-bottom: 40px;
    }

    .second-entries-high {
        margin-right: 0;
    }

    .high-description {
        width: 80%;
    }

    .border-bottom-green {
        border-bottom: 2px solid $principal-green;
        padding-bottom: 40px;
    }

    .trumpet-green-rectangle {
        margin-top: 0;
        margin-right: 10%;
    }

    .green-rectangle {
        padding: 5vh 0;
        height: 100%;
        margin: 0px;

        img {
            margin-top: 50px;
            margin-right: 10px;
        }
    }

    //THIRD SECTION//
    .third-section {
        margin-top: 100px;
    }

    .third-section-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 10% 0;
    }

    .first-pricing-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin: 0px;
        
        .pricing-section-left {
            position: static;
            margin-top: 20px;
        }

        .pricing-section-right {
            text-align: center;
            width: 100%;
        }
    }

    .second-pricing-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin: 0px;

        
        .pricing-section-left {
            position: static;
            margin-top: 20px;
        }

        .pricing-section-right {
            text-align: center;
            width: 100%;
        }
    }

    .third-pricing-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin: 0px;
        
        .pricing-section-left {
            position: static;
            margin-top: 20px;
        }

        .pricing-section-right {
            text-align: center;
            width: 100%;
        }
    }
    
    //FORM SECTION//
    .form-section {
        display: flex;
        justify-content: space-around;
        margin: 100px 10% 0;
    }

    .form-section-first {
        margin-top: 0px;
        width: 40%;

        p {
            margin-top: 30px;
        }
    }

    .form-section-second {
        margin-top: -30px;
        margin-left: 15%;
        width: 55%;
    }


    //FOOTER//
    .footer-text {
        margin: 2.5%;
    }

}