* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 50;
}

.menu {
  background-color: #FFF;
  text-align: left;
  min-height: 70px;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.menu img {
  cursor: pointer;
  width: 40px;
}

.menu-logo {
  display: inline-block;
  width: 80%;
  text-align: start;
  padding: 2% 0 2% 5%;
}
.menu-logo a {
  text-decoration: none;
}
.menu-logo h1 {
  color: #08A6E4;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 32px;
}

.menu-mobile {
  display: flex;
  align-items: center;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 0px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.menu-mobile ul {
  margin-left: 5%;
  padding-bottom: 10x;
}
.menu-mobile li {
  list-style: none;
  padding: 5px 0;
}
.menu-mobile a {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #A5A5A5;
  text-decoration: none;
}
.menu-mobile li:hover a {
  font-size: 12px;
  color: #000;
}

#check-menu {
  display: none;
}

#check-menu:checked ~ .menu-mobile {
  visibility: visible;
  opacity: 1;
  position: fixed;
  height: 150px;
}

.main-header {
  background-image: url("../images/Background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  height: calc(100vh - 100px);
}
.main-header h2 {
  font-family: Raleway, sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #000;
  padding-top: 12vh;
}
.main-header p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 23px;
  padding: 8vh 15%;
}
.main-header button {
  background-color: #08A6E4;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-weight: 700;
  color: #FFF;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.main-header button:hover {
  transform: scale(1.1);
}

.first-section {
  margin-top: 60px;
  text-align: center;
}
.first-section h2 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #000;
  margin: 0 10%;
}

.firsts-entries {
  margin: 50px 0 20px;
}
.firsts-entries .red-circle {
  display: inline-block;
  background-color: #FB3B64;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.firsts-entries .blue-circle {
  display: inline-block;
  background-color: #08A6E4;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.firsts-entries .green-circle {
  display: inline-block;
  background-color: #55DFB4;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.firsts-entries img {
  margin-top: 5px;
  margin-left: 40px;
}
.firsts-entries .eye-icon {
  margin-top: 15px;
  margin-left: 30px;
}
.firsts-entries p {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin: 15px 0 20px;
}
.firsts-entries span {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #A5A5A5;
}

.second-section {
  background-color: #F7F7F7;
  margin-top: 60px;
  text-align: center;
  padding: 5vh 0;
}

.second-entries {
  background-color: #FFF;
  margin: 5vh 5% 5vh;
  padding: 5vh 10% 10vh;
}
.second-entries h3 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  text-align: left;
}
.second-entries p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;
  text-align: left;
}

.laptop-red-circle {
  position: relative;
}

.red-second-circle {
  position: absolute;
  top: -30px;
  left: 55%;
  background-color: #FB3B64;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.img-laptop {
  position: relative;
  z-index: 1;
}

.mobile-second-circle {
  position: relative;
}

.blue-second-circle {
  display: inline-block;
  background-color: #08A6E4;
  width: 135px;
  height: 135px;
  border-radius: 50%;
}

.img-mobile {
  position: absolute;
  left: 40%;
}

.trumpet-green-rectangle {
  margin: 0 5%;
}

.green-rectangle {
  background-color: #55DFB4;
  height: 200px;
  padding-top: 20px;
  margin-top: -5vh;
}

.third-section {
  text-align: center;
  margin-top: 60px;
}
.third-section h2 {
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
}

.first-pricing-section {
  display: inline-block;
  border: solid #FB3B64 1px;
  border-radius: 18px;
  width: 80%;
  margin-bottom: 60px;
}
.first-pricing-section .pricing-section-left {
  display: inline-block;
  position: relative;
  top: -50px;
  text-align: center;
  width: 45%;
}
.first-pricing-section .pricing-section-right {
  display: inline-block;
  text-align: left;
  width: 50%;
}
.first-pricing-section h3 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.first-pricing-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  color: #FB3B64;
}
.first-pricing-section span {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.first-pricing-section img {
  margin-right: 15px;
}
.first-pricing-section li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 25px;
}
.first-pricing-section button {
  background-color: #FB3B64;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-weight: 700;
  color: #FFF;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 30px;
}
.first-pricing-section button:hover {
  transform: scale(1.1);
}

.second-pricing-section {
  display: inline-block;
  border: solid #08A6E4 1px;
  border-radius: 18px;
  width: 80%;
  margin-bottom: 60px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  width: 90%;
}
.second-pricing-section .pricing-section-left {
  display: inline-block;
  position: relative;
  top: -50px;
  text-align: center;
  width: 45%;
}
.second-pricing-section .pricing-section-right {
  display: inline-block;
  text-align: left;
  width: 50%;
}
.second-pricing-section h3 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.second-pricing-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  color: #08A6E4;
}
.second-pricing-section span {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.second-pricing-section img {
  margin-right: 15px;
}
.second-pricing-section li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 25px;
}
.second-pricing-section button {
  background-color: #08A6E4;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-weight: 700;
  color: #FFF;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 30px;
}
.second-pricing-section button:hover {
  transform: scale(1.1);
}

.third-pricing-section {
  display: inline-block;
  border: solid #55DFB4 1px;
  border-radius: 18px;
  width: 80%;
  margin-bottom: 60px;
}
.third-pricing-section .pricing-section-left {
  display: inline-block;
  position: relative;
  top: -50px;
  text-align: center;
  width: 45%;
}
.third-pricing-section .pricing-section-right {
  display: inline-block;
  text-align: left;
  width: 50%;
}
.third-pricing-section h3 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.third-pricing-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  color: #55DFB4;
}
.third-pricing-section span {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.third-pricing-section img {
  margin-right: 15px;
}
.third-pricing-section li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 25px;
}
.third-pricing-section button {
  background-color: #55DFB4;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-weight: 700;
  color: #FFF;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 30px;
}
.third-pricing-section button:hover {
  transform: scale(1.1);
}

.form-section {
  margin: 0 10%;
}

.form-section-first {
  margin-top: 60px;
}
.form-section-first h2 {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.form-section-first p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form-section-first img {
  position: relative;
  top: 6px;
  margin-right: 10px;
}
.form-section-first li {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #A5A5A5;
  list-style: none;
}

.form-section-second {
  margin-top: 60px;
}
.form-section-second li {
  list-style: none;
  margin: 5px 0;
  border-bottom: 1px solid #A5A5A5;
}
.form-section-second label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: #08A6E4;
  margin-top: 50px;
  margin-bottom: 20px;
}
.form-section-second input {
  display: inline-block;
  border-style: none;
  border-bottom: #08A6E4;
  width: 100%;
}

.terms-form {
  margin-top: 20px;
}
.terms-form input[type=checkbox] {
  transform: scale(2);
  vertical-align: top;
  margin-top: 10px;
  margin-right: 20px;
  width: 5%;
}
.terms-form label {
  display: inline-block;
  color: #A5A5A5;
  width: 85%;
  margin: 0;
}

.button-form {
  text-align: center;
  margin-top: 20px;
}
.button-form button {
  background-color: #08A6E4;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-weight: 700;
  color: #FFF;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  width: 50%;
}
.button-form button:hover {
  transform: scale(1.1);
}

footer {
  margin-top: 60px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}

.footer-text {
  display: inline-block;
  width: 50%;
  margin: 5% 0 5% 5%;
}
.footer-text h2 {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #08A6E4;
}
.footer-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 400px;
  color: #A5A5A5;
}

.social-networks {
  display: inline-block;
  width: 40%;
  text-align: end;
}
.social-networks li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

@media only screen and (min-width: 1000px) {
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu img {
    display: none;
  }
  .menu-logo {
    width: auto;
    padding: 0;
    margin: 0;
  }
  .menu-mobile {
    visibility: visible;
    position: static;
    width: auto;
    height: auto;
    opacity: 1;
    box-shadow: none;
  }
  .menu-mobile ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .menu-mobile li {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 50px;
  }
  .menu-mobile li:hover {
    border-bottom: 5px solid #08A6E4;
  }
  .main-header {
    height: 110vh;
  }
  .main-header h2 {
    font-size: 49px;
    padding-top: 10vh;
  }
  .main-header p {
    padding: 5vh 0;
  }
  .first-section h2 {
    font-size: 36px;
    font-weight: 400;
  }
  .first-section-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 50px 20% 0;
  }
  .second-entries {
    margin: 5vh 10% 5vh;
    padding: 5vh 5% 10vh;
  }
  .row-wrap-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .description-second-entries {
    width: 50%;
  }
  .description-second-entries h3 {
    font-size: 36px;
  }
  .description-second-entries p {
    font-size: 16px;
  }
  .laptop-red-circle {
    margin-top: 50px;
  }
  .red-second-circle {
    left: 60%;
    border-radius: 25%;
    rotate: 45deg;
    width: 150px;
    height: 150px;
  }
  .img-laptop {
    display: block;
    box-sizing: border-box;
    padding-left: 387px;
    width: 387px;
    height: 219px;
    background-image: url("../images/Macbook2 1.png");
    background-size: auto;
    background-repeat: no-repeat;
  }
  .border-bottom-red {
    border-bottom: 2px solid #FB3B64;
    padding-bottom: 40px;
  }
  .row-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .blue-second-circle {
    width: 300px;
    height: 300px;
  }
  .img-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-left: 426px;
    width: 426px;
    height: 328px;
    background-image: url("../images/iPhone2 1.png");
    background-size: auto;
    background-repeat: no-repeat;
  }
  .border-bottom-blue {
    border-bottom: 2px solid #08A6E4;
    padding-bottom: 40px;
  }
  .second-entries-high {
    margin-right: 0;
  }
  .high-description {
    width: 80%;
  }
  .border-bottom-green {
    border-bottom: 2px solid #55DFB4;
    padding-bottom: 40px;
  }
  .trumpet-green-rectangle {
    margin-top: 0;
    margin-right: 10%;
  }
  .green-rectangle {
    padding: 5vh 0;
    height: 100%;
    margin: 0px;
  }
  .green-rectangle img {
    margin-top: 50px;
    margin-right: 10px;
  }
  .third-section {
    margin-top: 100px;
  }
  .third-section-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 10% 0;
  }
  .first-pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 0px;
  }
  .first-pricing-section .pricing-section-left {
    position: static;
    margin-top: 20px;
  }
  .first-pricing-section .pricing-section-right {
    text-align: center;
    width: 100%;
  }
  .second-pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
    margin: 0px;
    padding: 20px 0;
  }
  .second-pricing-section .pricing-section-left {
    position: static;
    margin-top: 20px;
  }
  .second-pricing-section .pricing-section-right {
    text-align: center;
    width: 100%;
  }
  .second-pricing-section button {
    top: 50px;
  }
  .third-pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 0px;
  }
  .third-pricing-section .pricing-section-left {
    position: static;
    margin-top: 20px;
  }
  .third-pricing-section .pricing-section-right {
    text-align: center;
    width: 100%;
  }
  .form-section {
    display: flex;
    justify-content: space-around;
    margin: 100px 10% 0;
  }
  .form-section-first {
    margin-top: 0px;
    width: 40%;
  }
  .form-section-first p {
    margin-top: 30px;
  }
  .form-section-second {
    margin-top: -30px;
    margin-left: 15%;
    width: 55%;
  }
  .footer-text {
    margin: 2.5%;
  }
}

/*# sourceMappingURL=style.css.map */
